<% if current_user.name == @user.name %>
  <p>Welcome <%= @user.name %>!</p>
  <%= link_to "Create new event", new_event_path %>
<% else %>
  <p> This is <%= @user.name %>'s profile page</p>
<% end %>

<% if !@user.events.empty? %>
  <p>Hosted Events:</p>
  <ul>
    <% @user.events.each do |e| %>
      <li>
        <%= link_to e.name, event_path(e) %> @ <%= e.time %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if !@user.attended_events.empty? %>
  <p>Attended Events:</p>
  <ul>
    <% @user.attended_events.each do |e| %>
      <li>
        <%= link_to e.name, event_path(e) %> @ <%= e.time %>
      </li>
    <% end %>
  </ul>
<% end %>